<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>VISITA DOGANALE N. <%= "#{@hi.id}" -%></h3>

	<BR/>
	<H2>
	Container: <%= "#{@hi.handling_header.container_number}" -%>
	</h2>
	
	<P>I.CO.P. srl</p>
  </body>
</html>