<%

    text_IO = '??'
    if (@hi.handling_type == 'O')        
      text_IO = 'OUT'
    elsif (@hi.handling_type == 'I')
      text_IO = 'IN'
    end


    text_FE = '??'
    if (@hi.container_FE == 'F')        
      text_IO = 'FULL'
    elsif (@hi.container_FE == 'E')
      text_IO = 'EMPTY'
    end
 
%>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>EQUIPMENT INTERCHANGE RECEIPT N. <%= "#{@hi.id}" -%></h3>

	<BR/>
	<H2>
	Container: <%= "#{@hi.handling_header.container_number}, #{text_IO}, #{text_FE}" -%>
	</h2>
	
	<P>I.CO.P. srl</p>
  </body>
</html>