{
 success: true,
 items: [ 
		 {
				flex: 1,
				title: 'Vis.Dog.',
				layout: 'fit',
        	    xtype: 'gridpanel',
				autoScroll: true,  scroll: true,      	    
        	    store: new Ext.data.Store({
        	    	autoLoad: true,
        	    	fields: [],
        	    	proxy: {
        	            type: 'ajax',
        	            url: <%= raw  (root_path + 'handling_headers/get_row_by_filtered_type').to_json -%>,
        	            extraParams: {filtered_type: <%= raw filtered_type.to_json -%>},
        	            reader: {
        	                type: 'json',
        	                rootProperty: 'items'
        	            }
        	        }
        	    }),
        	   
 		        	   
        	           	   
        	   dockedItems: [
        	   { 
        	    xtype: 'toolbar', dock: 'top', itemId: 'toptoolbar',
        	    items: [
				 ,  {iconCls: 'fa fa-close fa-2x', scale: 'medium',				 				 
				 				handler: function(event, toolEl, panel){
				 						this.up('grid').destroy();
				 				}
				 	}        	            	    
        	     , '->',				 
				 ,  {iconCls: 'fa fa-refresh fa-2x',  scale: 'medium',				 				 
				 				handler: function(event, toolEl, panel){
				 						loc_grid = this.up('grid');
				 						loc_grid.getStore().load();
				 				}
				 	}
				 ]
			  }
			],

        	           	    
        	    
			    columns: [{
			        dataIndex: 'container_number',
			        flex: 1,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
				         var me = this, ret = '';
				         
				         ret += '<h2>' + rec.get('handling_header').container_number + '</h2>';
				         
				         ret += '<p>';
				         
				         if (!Ext.isEmpty(rec.get('activity_op_name')))
				           ret += '<b>' + rec.get('activity_op_name') + '</b><br/>';				         
				         
				         ret += rec.data.handling_header.shipowner.name + ' - ' + rec.data.handling_header.customer.name;  
				         ret += '</p>';
				         
				         return ret;				          
			        }
			      }  
        
        
        ] //column
        
        
			   , listeners: {
					    celldblclick: function(gridView,htmlElement,columnIndex,rec){
					            var me = gridView;

				            	<%= raw confirm_with_note(url_for(:controller=>'custom_inspections', :action=>'set_execution'), "
											{
							            		afterSave: function(fromWin){
							            		    fromWin.destroy();
							            			me.store.load();
							            		}            	            	
							            	}            	
				            	", 'rec_id', true) %>    
					        
					    }
					}
        
        
				    
				    , b_set_execution: function(b_id, rec){
				        var me = this; //grid
				        var b = Ext.create('Ext.button.Button', {
				        	text: 'Registra',
				        	scale: 'large',
				        	handler: function(){            	
				            	<%= raw confirm_with_note(url_for(:controller=>'custom_inspections', :action=>'set_execution'), "
											{
							            		afterSave: function(fromWin){
							            		    fromWin.destroy();
							            			me.store.load();
							            		}            	            	
							            	}            	
				            	", 'rec_id', true) %>
				        	}
				        });
						if (Ext.get(b_id)) {b.render(Ext.get(b_id));}      
				      } //b_set    

                        	    
        	}    
   
   
   
 ]
}
