{
 success: true,
 items: [
 {
  xtype: 'container',
  closable: true,
  is_main_panel: true,
  
  title: 'Richieste - ALL',
    layout: {
	    type: 'vbox',
	    pack: 'start',
	    align: 'stretch'
	},
	
  	viewModel: {
			data: {
			}	
	},  	

  items: [
       
   // grid con righe import
		 {
				flex: 1,
				layout: 'fit',
        	    title: 'Elenco richieste - ALL', flex: 50,
        	    tools: [
                ],
        	    xtype: 'gridpanel',        	            	    
        	    
				dockedItems: [
		        	   { 
		        	    xtype: 'toolbar', dock: 'top', itemId: 'toptoolbar',
		        	    items: [		        	    
		        	    
						  {
						    xtype: 'form', height: 30,
						    layout: {
							    type: 'hbox',
							    pack: 'start',
							    align: 'stretch'
							},
							defaults: {
								margin: 5
							},
						    items: [
							    	{	
											xtype: 'datefield', labelAlign: 'right', width: 140,
											padding: '0 0 0 5',
							                name: 'flt_date_from',
							                emptyText: 'Inserita dal'
							 		}, {	
											xtype: 'datefield', labelAlign: 'right',  width: 140,
											padding: '0 0 0 5',
											name: 'flt_date_to',
							                emptyText: '.. al'
							                
							 		}, {
							 			xtype: 'fieldcontainer', padding: '5 5 5 5', layout: 'hbox', items: [
											{													
														xtype: 'checkboxfield',														
										                boxLabel: 'Eseguite',
										                margin: '0px 8px 0px 0px',
										                name: 'show_executed', inputValue: 1, value: 1, uncheckedValue: 0
										    }, {													
														xtype: 'checkboxfield',														
										                boxLabel: 'Non seguite',
										                name: 'show_not_executed', inputValue: 1, value: 1, uncheckedValue: 0
										    }							 			
							 			]
							 		}
						    	]
						 	}
		        	     , '->',
		        	    	{iconCls: 'fa fa-filter fa-2x', text: 'Filtra', scale: 'large', 
						 		handler: function(event, toolEl, panel){ 
				 						var loc_grid = this.up('grid');
		 								var header_form = loc_grid.getDockedComponent('toptoolbar').down('form').getForm();
		 								loc_grid.getStore().proxy.extraParams.f_values = header_form.getValues(); 						 						
				 						loc_grid.getStore().load();
						 			}
						 		}
						 		
						 , {iconCls: 'fa fa-close fa-2x', scale: 'large', 
						 		handler: function(event, toolEl, panel){ 
				 						this.up('container[is_main_panel=true]').destroy();
						 			}
						 		}	        	    
		        	    		        	     
						 ]
					  }
					],        	    
        	    		        		        
				autoScroll: true,  
				scroll: true,      	    
        	    store: new Ext.data.Store({
        	    	autoLoad: true,
        	    	fields: [],
        	    	proxy: {
        	            url: <%= raw  (root_path + 'to_do_items/get_list_POST_IT_MUL').to_json -%>,
        	            extraParams: {
        	            },
        	            reader: {
        	                type: 'json',
							method: 'POST',        	                
        	                rootProperty: 'items'
        	            },
        	            paramsAsJson: true,
						method: 'POST',
						type: 'ajax',
			
						//Add these two properties
						actionMethods: {
							read: 'POST'
						},        	            
        	            
        	        }
        	        
        	    }),
        	   
 		        	   
        	           	   
        	           	    
        	    
			    columns: [{
			        dataIndex: 'container_number',
			        text: 'Seq',
			        width: 50,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         return '<h5>' + (rowIndex + 1) + '</h5>';
			        }			        
			    }, {
			        dataIndex: 'container_number',
			        text: 'Container',
			        flex: 1,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         ret = '<h3>' + rec.get('container_number') + '</h3>';			         
			         return ret;			         
			        }			        
			    }
			    				    
				
				
				, {
			        dataIndex: 'created_at',
			        text: 'Inserita il',
			        width: 150, align: 'center',
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         var me = this; //me = grid;			          			         
			           ret = '<h3>' + Ext.util.Format.date(value, 'd/m/y') + '</h3>';			           			           
			           return ret;
			        }			        
			    }
			    
				
				, {
			        dataIndex: 'status',
			        text: 'Stato',
			        width: 150, align: 'center',
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         var me = this; //me = grid;			          			         
			           ret = '<h3>' + value + '</h3>';
			           			           
			           return ret;
			        }			        
			    }

			    , {
			        dataIndex: 'notes',
			        text: 'Note apertura',
			        flex: 1,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         var me = this; //me = grid;			          			         
			           ret = '';
			           
			    		if (Ext.isEmpty(rec.get('notes')) == false)
		                	ret += '<div style="white-space:normal">' + rec.get('notes').replace(/(?:\r\n|\r|\n)/g, '<br />'); + '</div>';       
			           
			           return ret;
			        }			        
			    }

			    			    			    		    
			    			    
			    , {
			        dataIndex: 'notes_int',
			        text: 'Note chiusura',
			        flex: 1,
			        renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
			         var me = this; //me = grid;			          			         
			            ret = '';
			           
			    		if (Ext.isEmpty(rec.get('notes_int')) == false)
		                	ret += '<div style="white-space:normal">' + rec.get('notes_int').replace(/(?:\r\n|\r|\n)/g, '<br />'); + '</div>';       
			           
			           return ret;
			        }			        
			    }

        ] //columns
               

                        	    
    }    
   
  ]
 }
 ]
}