{
 "success": true,
 "items": [
  {
   xtype: 'panel',
   autoScroll: true,
   flex: 1,
	layout: {
	    type: 'vbox',
	    align : 'stretch',
	    pack  : 'start',
	}, 
     defaults: {
         xtype: 'button',
         hideLabel: false,
         labelWidth: 140,
     	 xtype: 'textfield',
     	 margin: '10 10 0 10',
     	 scale: 'medium', textAlign: 'left',
     	 handler: function(){
     	 	new_win = acs_show_win_std('Insert Item', myApp.railsBaseUri +  'terminal_movs/add_handling_items',
     	 		{op: this.op, rec_id: <%= @rec_id.to_s -%>},
     	 		null, 450, null, null, null, null, this.up('window').open_vars);
     	 	this.up('window').close();
     	 }
     },	  
   items: [
   
   <% @operations.each do |op| %>
		{xtype : "button", op:'<%= op[:cod] -%>', text : '<%= raw(op[:icon]) -%><span style="margin-left: 20px;"><%= t("operations.#{op[:cod]}.long") -%></span>', height: 60},
   <% end %>
       
   ]
  }
 ]
}