#header-customer-logo {float: left; background-color: red; height: 40px; width: 70px; background-image: url(image-path("customer-logo.png"));}
#header-user-name {
	height: 42px; vertical-align: middle; 
	border-left: 1px dotted gray; 
	float: right; 
	font-style: italic; 
	margin-top: 15px; 
	padding-top: 5px; padding-right: 20px;  padding-left: 20px; 
	font-weight: bold;
}

.x-btn.btn-confirm {
	background-color: #48D1CC !important;
}

.x-btn.btn-add {
	background-color: #87CEEB !important;
	text-align:left;
}

.x-btn.btn-del {
	background-color: #EF2B2D !important; color: white !important;
}
.x-btn.btn-del .x-btn-inner{color: white;}

.x-btn.btn-warning {
	background-color: #FF8200 !important;
}

.x-btn.btn-ok {
	background-color: #009600 !important;
	color: white !important;
}

.x-btn.btn-ok .x-btn-inner-default-toolbar-small {
	color: white !important;
}

.x-btn.btn-ok .x-btn-inner-default-toolbar-medium {
	color: white !important;
}


.x-grid-row.row-alt .x-grid-cell{background-color: #fafafa;}

.app_info .x-panel-body {
 font-style: italic; color: gray;
}

/* import item */
table.import_item_detail td{padding: 0px 30px 3px 20px;}
table.import_item_detail td{font-weight: bold; font-size: 18px;}
table.import_item_detail th{font-weight: normal;}


/*
input[disabled]{
 background-color:white !important; 
 color: black !important;
 filter: none !important;
}
*/