{
 success: true,
 items: [

   
   //grid navi
		 {
				flex: 1,
				layout: 'fit',
        	    xtype: 'gridpanel',
				autoScroll: true,  
				scroll: true,      	    
        	    store: new Ext.data.Store({
        	    	autoLoad: true,
        	    	fields: [],
        	    	proxy: {
        	            type: 'ajax',
        	            url: <%= raw  (root_path + 'grus/extjs_sc_list').to_json -%>,
        	            extraParams: {},
        	            reader: {
        	                type: 'json',
        	                rootProperty: 'items'
        	            }
        	        }
        	    }), 
        	    
        	    
			    columns: [{
			        dataIndex: 'name',
			        text: null,
			        flex: 1
			        }
			    ],
		
				
			buttons: [
			{xtype: 'container', html: '<h3>Sbarco</h3>'},
			{
	            text: 'Posiziona', scale: 'large',
	            handler: function (btn, evt) {      
	            	var m_win = btn.up('window');
	            	var m_grid = btn.up('window').down('grid');
	            	var gru_selected = m_grid.getView().getSelectionModel().getSelection();
	            	if (gru_selected.length == 1)
	            		m_win.fireEvent('afterOk', m_win, gru_selected[0].get('id'), {operation_type: 'D', spunta: false});
	            	else
	            		show_notifica('Selezionare una gru');       
	             }
	          },
	        '->', 
			
			
			{xtype: 'container', html: '<h3>Imbarco</h3>'},
			{
	            text: 'Posiziona e spunta', scale: 'large',
	            handler: function (btn, evt) {      
	            	var m_win = btn.up('window');
	            	var m_grid = btn.up('window').down('grid');
	            	var gru_selected = m_grid.getView().getSelectionModel().getSelection();
	            	if (gru_selected.length == 1)
	            		m_win.fireEvent('afterOk', m_win, gru_selected[0].get('id'), {operation_type: 'L', spunta: true});
	            	else
	            		show_notifica('Selezionare una gru');       
	             }
	          }, {
	            text: 'Posiziona', scale: 'large',
	            handler: function (btn, evt) {      
	            	var m_win = btn.up('window');
	            	var m_grid = btn.up('window').down('grid');
	            	var gru_selected = m_grid.getView().getSelectionModel().getSelection();
	            	if (gru_selected.length == 1)
	            		m_win.fireEvent('afterOk', m_win, gru_selected[0].get('id'), {operation_type: 'L', spunta: false});
	            	else
	            		show_notifica('Selezionare una gru');       
	             }
	          }
			]	    
		}	    
   

 ]
}