<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="javascript: window.print()" class='navbar-brand'><i class="fa fa-2x fa-print"></i> Stampa</a>
      <a href="javascript: self.close()" class='navbar-brand'><i class="fa fa-2x fa-close"></i> Chiudi</a>
    </div>
  </div>
</nav>